#header{
    font-weight: bold;
    font-size: 25px;
}
h1{
    color: red;
    font-weight: bold;
    padding: 20px 0px 0px 0px;
}
#btn{
    border-radius: 5px;
    box-shadow: 0px 0px 1px;
    transition:.5s;
}
#btn:hover{
    background-color: green;
    color: white;
    transition:.5s;
}
#hero{
    height: 72vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: red;
}
#table{
    width: 80%;
    height: 60vh;
    margin: auto;
    padding: 10px;
    overflow-y: scroll;
}
th{
    text-align: center;
}
td{
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
}
span{
    cursor: pointer;
    border-radius: 2px;
    font-weight: normal;
}
span:hover{
    background-color: green;
    color: white;
}
#footer{
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid transparent;
    border-top-color: #cfcece;
    background-color: #fafafa;
}
@media(max-width:500px){
    #table{
        width: 90%;
    }
    th{
        font-size: 10px;
    }
    td{
        font-size: 8px;
    }
}